<div class="frame">
    <div>
        <div class="frameline">
            <p class="header"><strong>@Project.Name</strong></p>
        </div>
   
        <img src="@Project.Image" class="auhtorPhoto" alt="@Project.Name"/>
     </div>

    <div class="projectbuttons">
        <TelerikButton Icon="more-horizontal" Title="Details" ThemeColor="@Telerik.Blazor.ThemeConstants.Button.ThemeColor.Base">See in GitHub</TelerikButton>

       <div class="livetest"> 
       @if (Project.LiveTest==true)
            {<TelerikButton Icon="play" Title="Live test" ThemeColor="@Telerik.Blazor.ThemeConstants.Button.ThemeColor.Success"> </TelerikButton>}
      </div>
    </div>

    <div class="description">
        <p><strong>Description:</strong>@Project.Description</p>
    </div>

    @if (!(@Project.Tools.Equals("None")))
    {
        <p><strong>Tools: </strong>@Project.Tools</p>
    }

</div>

@code {
    [Parameter][EditorRequired] public Project Project { get; set; }=default;

}

<style>
.livetest
{
    padding-right:5px;
    display:inline;
}
.header
{
    text-align:center;
    color:black;
    padding-top: 10px;
}
img{
    width: 100%;
    height: 20%;
    margin: auto;
    display: block;
}
.toolselements
{
    display:inline;
}
.projectbuttons{
    padding: 5px;
    text-align:center;
}

.description
{
    padding:5px;
}
.frameline{
    background: #7da292;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    height:40px;
    margin:auto;
}

.frame{
    border-radius: 10px;
    margin:5px;
    font-size: 16px;
    background-clip:padding-box;
    background:#dfece6;
}
</style>
